:root {
    --green: rgb(84, 157, 100);
    --darkergreen: rgb(80, 150, 80);
    --white: rgb(245, 245, 245);
    --gray: rgba(210, 210, 210, .8);
    --lightergray: rgba(225, 225, 225, .8);
    --darkgray: rgba(50, 50, 50, .6);
    font-size: 16px;
}

* {
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
    background-color: rgb(245, 245, 245);
}

.skiplink {
    font-size: 1.5rem;
    position: fixed;
    /* top: -100%; */
    left: 50%;
    transform: translate(-50%, -100%);
    color: black;
    background-color: aliceblue;
    padding: .5rem 1rem;
    
}
.skiplink:focus {
    transform: translate(-50%, 0%);
    transition:  100ms transform;
}

.header {
    display: block;
    width: 100%;

    padding: 1em 0 1em 0;
    color: var(--white);
    box-shadow: 5px 0 5px var(--darkgray);
    background-color: var(--green);
}

.header>h1 {
    text-align: center;
    width: inherit;
}

.introduction {
    text-align: left;
    width: 80%;
    margin: 3rem auto;
}

.emptyblock {
    display: block;
    height: 1em;
}

#timeleft {
    display: block;
    margin: auto;
    font-size: 4rem;
    text-align: center;
}

.timer>.wrapper {
    display: flex;
    justify-content: center;

    margin: auto;
}

.number_input {
    display: inline-block;
    margin: 0 .3rem 0 .3rem;
    width: 5rem;
    text-align: center;
    font-size: 1.3rem;
}

.button {
    transition: transform 50ms;
}

.button:hover {
    transform: translate(0, -1px);
}

#startbutton {

    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--green);
    border: none;
    padding: .3em .5em .3em .5em;
    box-shadow: 3px 3px 3px var(--gray);
}

#startbutton:hover {
    cursor: pointer;
    background-color: var(--darkergreen);
}

#resetbutton {

    font-size: 1.2rem;
    color: var(--darkgray);
    background-color: var(--lightergray);
    border: none;
    box-shadow: 1px 1px 3px var(--darkgray);
    padding: .3em .5em .3em .5em;
}

#resetbutton:hover {
    background-color: var(--gray);
    cursor: pointer;
}

.vertical {
    flex-direction: column;
}

.inputwrapper {
    margin: auto;
    text-align: center;

}

.messages {
    max-width: 90%;
    margin: auto;
}

#error {
    text-align: center;
    color: red;
}

@media screen and (max-width: 400px), screen and (max-height: 250px) {
    :root {
        font-size: 12px;
    }
}

@media screen and (max-width: 350px) {
    .introduction>.introductiontext {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 200px) {
    #timeleft {
        font-size: 2rem;
    }

    .number_input {
        margin: 0 .1rem 0 .1rem;
        width: 3rem;
    }

    #startbutton {
        font-size: 1rem;
    }

    #resetbutton {
        font-size: .8rem;
    }
}

@media screen and (max-width: 115px) {
    :root {
        font-size: 8px;
    }
}